body{
    background: #7EA0AA;
    color: white;
}

form{
    color: white;
    background: #2B4162;
    border-radius : 20px;
    flex-grow: 1;
    margin: 10px;
    padding: 10px;
    height: auto;
}
input {
    display: flex;
    flex-direction: column;
   justify-content: center;
    margin: 3px;
    padding: 5px;
    width: auto;
}