.add-form{
    align-self: center;
    display: flex;
    flex-direction: column;
    margin-top: 80px;
    margin-bottom: 15%;
}

.add-new-trip-input-overview {
    height:fit-content;
    width: fit-content;
    box-sizing: border-box;
    border-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.dates-div {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.label-input-field {
    margin: 10px;
    width: 60%;
    background-color: rgba(192, 192, 192, 0.3);
    border-radius: 20px;
}

.button-wrapper {
    background-color: #7EA0AA;
    position: fixed;
    bottom: 0;
    justify-items: center;
    align-items: flex-start;
    height: 80px;
    width: 100%;
    display: inline-grid;
    grid-template-rows: 5%;
    grid-template-columns: auto auto;
}

.next-button {
    grid-column: 2;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    background-color: #23CE6B;
}
.return-button {
    margin-top: 10px;
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
}

.add-button {
    grid-column: 2;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 150px;
    height: 50px;
    font-weight: bold;
    font-size: 25px;
    background-color: #23CE6B;
}