.login-page {
    margin-top: 100px;
    align-self: center;
    flex-direction: column;
}

.logout-page {
    margin-top: 100px;
    justify-items: center;
    align-self: center;
    display: flex;
    flex-direction: column;
}

.logout-button-wrapper {
    justify-content: space-around;
    align-items: flex-start;
    height: 8%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.logout-button {
    background-color: #EF626C;
}