.navbar {
    z-index: 2;
    display: grid;
    background-color: #023C40;
    justify-items: center;
    height: 70px;
    width: 100%;
    position: fixed;
}

.logo {
    height: 90%;
}

.ai-button-logout {
    height: 100%;
    width: fit-content;
    background-color: transparent;
    font-size: 45px;
    position: absolute;
    right: 0;
}

.ai-button-home {
    height: 100%;
    width: fit-content;
    background-color: transparent;
    font-size: 45px;
    position: absolute;
    left: 0;
}

