.navbar {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    background-color: #023C40;
    justify-content: space-between;
    height: 40px;
}

.line {
    width: 35px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
}