.navbar {
    z-index: 2;
    display: grid;
    background-color: #023C40;
    justify-items: center;
    height: 8%;
    width: 100%;
    position: fixed;
}

.logo {
    height: 85%;
}

.ai-button-logout {
    margin-top: 3px;
    width: fit-content;
    border-color: white;
    background-color: transparent;
    font-size: 40px;
    color: white;
    position: absolute;
    right: 0;
}

.ai-button-home {
    margin-top: 3.5px;
    width: fit-content;
    border-color: white;
    background-color: transparent;
    font-size: 40px;
    color: white;
    position: absolute;
    left: 0;
}

