div.trip-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 80px;
    margin-top: 70px;
}

.add-statistics-button-wrapper {
    background-color: #7EA0AA;
    position: fixed;
    bottom: 0;
    justify-content: space-around;
    align-items: center;
    height: 8%;
    width: 100%;
    display: flex;
}

.statistics-button {
    height: 50px;
    font-size: 22px;
}

.add-new-trip-button{
    height: 50px;
    background-color: #23CE6B;
    font-size: 22px;
}

.all-trips-overview {
    height: fit-content;
    background: rgba(96, 153, 62, 0.7);
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    display: flex;
    flex-direction: column;
}

canvas{
    background-color: whitesmoke;
    Border-radius: 20px;
    padding: 5px;
    margin: 8px
}

.searchbar {
    width: 80%;
    font-size: 22px;
    border-radius: 20px;
    margin: 10px;
}

