.trip-overview-card {
    height: fit-content;
    background: #2B4162;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 60%;
    margin-bottom: 10px;
}

.trip-infos {
    background-color: rgba(192, 192, 192, 0.3);
    padding: 2px;
    margin: 8px;
    border-radius: 20px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin: 2px;
    justify-content: center;
}

.date {
    font-weight: bold;
    font-size: large;
}

.details-button {
    margin-left: 5%;
    margin-right: 5%;
    width: fit-content;
    font-weight: bold;
    font-size: large;
}

.offset-button {
    margin-right: 5%;
    margin-left: 5%;
    width: fit-content;
    background-color: #23CE6B;
    font-weight: bold;
    font-size: large;
}

