.trip-overview-card {
    height: fit-content;
    background: #2B4162;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2)
}

.trip-infos {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgba(192, 192, 192, 0.3);
    width: 90%;
    padding: 10px;
    margin: 8px;
    border-radius: 20px;
    font-size: 18px;

}

.title {
    margin: 10px;
    font-size: 30px;
    font-weight: bolder;
    justify-content: center;
}

.trip-overview-buttons {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    font-weight: bold;
}

.details-button {
    width: 110px;
}

.offset-button {
    width: 110px;
    background-color: #23CE6B;
}

div.progress-bar{
    margin: 8px;
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    }

strong {
    font-size: large;
}


.searchbar {
    border-radius: 20px;
    margin: 10px;
}



