.trip-overview-card {
    height: fit-content;
    background: #2B4162;
    border-radius: 20px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 80%;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

.trip-infos {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    background-color: rgba(192, 192, 192, 0.3);
    width: 80%;
    padding: 10px;
    margin: 8px;
    border-radius: 20px;
    font-size: 18px;

}

.title {
    font-size: 30px;
    font-weight: bolder;
    margin: 2px 2px 20px 2px;
    justify-content: center;
}

.trip-overview-buttons {
    display: flex;
    justify-content: space-around;
    font-weight: bold;
}

.details-button {
    width: fit-content;
    margin:0 40% 0 40%;

}

.offset-button {
    width: fit-content;
    background-color: #23CE6B;
   margin:0 40% 0 40%;

}

div.progress-bar{
    font-size: 16px;
    width: fit-content;
    height: fit-content;
    }

strong {
    font-size: large;
}

